:root{
    --bg1:#2b0b3a;
    --bg2:#6a2fb3;
    --card:#3b0f58;
    --accent1:#b689ff;
    --accent2:#8f5dff;
    --accent3:#0022ff;
    --white: #ffffff;
}
button{
    width: 20%;
}

.splashContainer{
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns: 25vw auto 25vw;
    flex-direction: column; 
    justify-content:center;
    align-items:center;
    /* background-color:black; */
    overflow: hidden;
}

.splashContainer h1{
color: var(--card);
font-size: 4em;
letter-spacing: 20px;
font-family: "BBH Sans Bogle", sans-serif;
text-align: center;
/* text-shadow: 20px 10px 20px var(--accent1), 0 0 30px var(--accent2); */

}

.mapContainer{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.map{
    /* flex:0.5; */
    width: 45vw;
    height: 95vh;
}

.tokens{
    width: 2.5vw;
    cursor: pointer;
    height: 10.5vh;
    position: absolute;  
    transition: 0.5s;
    transform-style: preserve-3d;
    /* border: solid; */
    padding: 0;
    z-index: 0; 
    /* transform: scaleY(0.8); */
}

@keyframes bounce {
    0%{transform:scaleX(1)}
    100%{transform:scaleX(0.9)}
}
.bounce {
  animation: bounce 0.25s infinite alternate;
}

@keyframes active {
    0%{transform:scale(1)}
    100%{transform:scale(0.9)}
}

.active {
    animation: active 0.5s infinite alternate;
}

.diceContainer{
    /* font-size: 10em;  */
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    padding: 20px 0;
    /* pointer-events: none; */

}

.diceContainer:nth-child(1){
    align-items: flex-end
}

.diceContainers{
width: 13vw;
height: 13vw;
 background: #eeeeee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
 display: flex;
 align-items: center;
 justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}



.dice{
    animation: clickDice 0.5s infinite alternate;
   
}



@keyframes clickDice {
    0%{
        /* border: 1px solid ; */
        transform: scale(1);
        opacity: 0.8;
    }
    100%{
        /* border: 2px solid; */
        transform: scale(0.9);
        opacity: 1;
    }
}



@keyframes diceRoll {
    0%{transform: rotate(-2deg);}
    50%{transform: rotate(0deg);}
    100%{transform: rotate(2deg);}
}

.diceRoll {
    animation: diceRoll 0.1s infinite alternate ;
}

.gameBg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: black;
}

.homeIndicatorCont{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-color: pink; */
    /* top:0; */
    left:0;
    /* z-index: 1; */
    display: flex;
    pointer-events: none;
}

.mapOverlay{
    margin: auto;
    height: 91.5vh;
    width: 43.5vw;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
}

.mapOverlay div{
border: 6vh solid black;
height: 36.5vh;
display: flex;
align-items: center;
justify-content: center;
/* opacity: 0;   */

/* width: 30vw; */

}

.homeIndicator{
    animation: homeIndicator 0.25s alternate infinite;

}

.mapOverlay div:nth-child(3),.mapOverlay div:nth-child(4) {
    align-self: flex-end;
}


@keyframes homeIndicator {
    0%{opacity: 0.1}
    100%{opacity: 0.4;}
}

.crown{
    width: 20vw;
    height: 25vh;
}

.winnerNum{
    position: absolute;
    font-size: 4em;
    font-family:'Times New Roman', Times, serif;
}

.winnerInd {
    border: none !important;
    visibility: hidden;
}

