.splashScreen{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: 2s;
}

.splashBg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.splashScreen div {
    /* border: solid; */
    height: 100%;
    width: 100%;
    display: grid;
}

.tokenContainer{
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
}

@keyframes tokens {
    0%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg);}
}

.tokenContainer img {
    width: 150px;
    height: 150px;
    /* animation: tokens 0.8s 0s infinite alternate; */
}

.splashScreen div:nth-child(2){
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4em;
    letter-spacing: 8px;
    font-weight: 300;
    color:white;
    /* text-transform: uppercase; */
    text-align: center;
    /* width: 800px; */
}

@keyframes clickButton {
    0%{
        border: 1px solid ;
        /* background-color: black; */
    }
    100%{
        border: 8px solid;
        /* background-color: lavender; */
    }
}

button {
    justify-self: center;
    font-size: 2em;
    width: 200px;
    height: 70px;
    color: black;
    background-color: lavender;
    border: 2px solid white;
    animation: clickButton 1s infinite alternate;
    border-radius: 8px;
    cursor: pointer;
}



@keyframes bgImg {
    0%{transform:scale(0);}
    100%{transform: scale(1);}

}

.bgImg {
    animation: bgImg 2s;
    transform: translateZ(190px);
}