.splashScreen{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.splashScreen *{
    transition: 2s;

}

.splashBg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: black;

}

.splashScreen div {
    /* border: solid; */
    height: 100%;
    width: 100%;
    display: grid;

}

.tokenContainer{
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
}

@keyframes tokens {
    0%{transform: translate(0px);}
    100%{transform: translate(600px);}
}

.tokenContainer img {
    width: 50px;
    height: 100px;
    /* animation: tokens 2s infinite ; */
}

.splashScreen div:nth-child(2){
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 4em;
    letter-spacing: 8px;
    font-weight: 300;
    color:rgb(196, 87, 236);
    /* text-transform: uppercase; */
    text-align: center;
    /* width: 800px; */
}

@keyframes clickButton {
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}

.openSelector {
    justify-self: center;
    font-size: 1.5em;
    width: 200px;
    height: 50px;
    color:#c457ec;
    background-color: #ebdff7;
    border: 2px solid white;
    animation: clickButton 1.5s  2.5s forwards;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
}



@keyframes bgImg {
    0%{transform:scale(0);}
    100%{transform: scale(1);}

}

.bgImg {
    animation: bgImg 2s ease-in;
    transform: translateZ(190px);
}

#alert-dialog-title{
    color: black
}

.selectPlayersLabel{
    display: flex;
    width: 35vw;
    font-size: 2em;
    align-items: center;
    height: 10vh;
    gap: 10px;
    margin-bottom: 2vw;
}

.selectPlayersLabel img{
width: 3.5vw;
height: 4.5vw;
}

.selectPlayersLabel p{
    display: inline;
}


input[type="radio"]{
width: 3.5vw;
height: 4.5vw;
cursor: pointer ;
}
